@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* modo oscuro */
@variant dark (&:where(.dark, .dark *));

/* Importamos tus módulos de estilos */
@import "./styles/base.css";
@import "./styles/components.css";

/* CREAMOS LOS DOS MODOS */
@layer base {
  :root {
    /* --- MODO CLARO  --- */
    --theme-background: #f4f4f5;    /* Fondo casi blanco */
    --theme-surface: var(--color-white);           /* Tarjetas blancas */
    --theme-surface-hover: var(--color-zinc-100);  /* Hover sutil */
    --theme-text-main: var(--color-zinc-900);      /* Texto casi negro */
    --theme-text-muted: var(--color-zinc-500);     /* Texto secundario gris */
  }

  .dark {
    /* --- MODO OSCURO (colores originales) --- */
    --theme-background: var(--color-zinc-950);
    --theme-surface: var(--color-zinc-900);
    --theme-surface-hover: var(--color-zinc-800);
    --theme-text-main: var(--color-zinc-50);
    --theme-text-muted: var(--color-zinc-400);
  }
  
  /* Aplicamos el fondo y texto base a toda la página */
  body {
    @apply bg-background text-text-main transition-colors duration-300;
  }
}

/* --- SCROLLBAR--- */
@layer base {
  html {
    color-scheme: light dark;
  }

  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra */
  }

  ::-webkit-scrollbar-track {
    background: var(--theme-background); /* Color del fondo de la barra */
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-zinc-300); /* Color del "palito" en modo claro */
    border-radius: 10px;
    border: 2px solid var(--theme-background);
  }

  .dark ::-webkit-scrollbar-thumb {
    background: var(--color-zinc-700); /* Color del "palito" en modo oscuro */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-zinc-400);
  }
}


@theme {
  /* --- TIPOGRAFÍA --- */
  --font-open-sans: "Open Sans", sans-serif;

  /* --- PALETA DE COLORES FIJOS (Estos no cambian con el sol/luna) --- */
  --color-primary: var(--color-orange-500);       
  --color-primary-hover: var(--color-orange-400); 
  --color-primary-active: var(--color-orange-700);
  --color-text-inverted: var(--color-zinc-950);
  --color-danger: var(--color-red-500);
  --color-success: var(--color-green-500);
  
  /* --- PALETA DE COLORES DINÁMICOS  --- */
  --color-background: var(--theme-background); 
  --color-surface: var(--theme-surface); 
  --color-surface-hover: var(--theme-surface-hover); 
  
  /* Text: Jerarquía visual dinámica */
  --color-text-main: var(--theme-text-main); 
  --color-text-muted: var(--theme-text-muted); 
}