@import "tailwindcss";

/* modo oscuro */
@variant dark (&:where(.dark, .dark *));

/* Importamos tus módulos de estilos */
@import "./styles/base.css";
@import "./styles/components.css";

/* CREAMOS LOS DOS MODOS */
@layer base {
  :root {
    /*  MODO CLARO */
    --theme-background: #FDFCFB;
    --theme-surface: var(--color-white); 
    --theme-surface-hover: var(--color-zinc-100);
    --theme-text-main: var(--color-zinc-900); 
    --theme-text-muted: var(--color-zinc-500); 
  }

  .dark {
    /* MODO OSCURO (colores originales)*/
    --theme-background: var(--color-zinc-950);
    --theme-surface: var(--color-zinc-900);
    --theme-surface-hover: var(--color-zinc-800);
    --theme-text-main: var(--color-zinc-50);
    --theme-text-muted: var(--color-zinc-400);
  }
  
 html {
    color-scheme: light dark;
  }
}

/* RESPONSIVE */
@layer components {
  
  .section-container {
    @apply py-10 md:py-24 px-4 sm:px-8 max-w-7xl mx-auto w-full;
  }

  .responsive-title {
    @apply text-3xl sm:text-5xl lg:text-7xl font-black leading-tight uppercase italic tracking-tighter;
  }

  .responsive-button {
    @apply w-full sm:w-auto px-6 py-3 sm:px-8 sm:py-4 
           text-base sm:text-lg font-bold rounded-xl
           flex justify-center items-center text-center
           transition-all duration-300 active:scale-95 shadow-lg;
  }

  .responsive-grid {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-16 items-center;
  }
}



/* TEMA Y VARIABLES TAILWIND */
@theme {
  --font-open-sans: "Open Sans", sans-serif;

  --color-primary: var(--color-orange-500);       
  --color-primary-hover: var(--color-orange-400); 
  --color-primary-active: var(--color-orange-700);
  --color-text-inverted: var(--color-zinc-950);
  --color-danger: var(--color-red-500);
  --color-success: var(--color-green-500);
  
  /* Colores Dinámicos */
  --color-background: var(--theme-background); 
  --color-surface: var(--theme-surface); 
  --color-surface-hover: var(--theme-surface-hover); 
  --color-text-main: var(--theme-text-main); 
  --color-text-muted: var(--theme-text-muted); 
}

/* SCROLLBAR */
@layer base {
  ::-webkit-scrollbar { width: 10px; }
  ::-webkit-scrollbar-track { background: var(--theme-background); }
  ::-webkit-scrollbar-thumb {
    background: var(--color-zinc-300);
    border-radius: 10px;
    border: 2px solid var(--theme-background);
  }
  .dark ::-webkit-scrollbar-thumb { background: var(--color-zinc-700); }
}

/* ANIMACIONES */
@keyframes shine {
  from { left: -100%; }
  to { left: 100%; }
}

.animate-shine {
  position: relative;
  overflow: hidden;
}

.animate-shine::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transform: skewX(-25deg);
  animation: shine 3.5s infinite; 
}