@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Importamos tus módulos de estilos */
@import "./styles/base.css";
@import "./styles/components.css";

@theme {
  /* --- TIPOGRAFÍA --- */
  --font-open-sans: "Open Sans", sans-serif;

  /* --- PALETA DE COLORES (Mapeo a Tailwind) --- */
  
  /* Primary: Usamos el Naranja de Tailwind para la marca */
  --color-primary: var(--color-orange-500);       
  --color-primary-hover: var(--color-orange-400); 
  --color-primary-active: var(--color-orange-700);
  
  /* Neutral/Backgrounds: Usamos Zinc para un gris moderno y elegante */
  --color-background: var(--color-zinc-950);      /* Fondo principal */
  --color-surface: var(--color-zinc-900);         /* Tarjetas y Sidebar */
  --color-surface-hover: var(--color-zinc-800);   /* Hover en tarjetas */
  
  /* Text: Jerarquía visual */
  --color-text-main: var(--color-zinc-50);        /* Texto principal (Casi blanco) */
  --color-text-muted: var(--color-zinc-400);      /* Texto secundario (Gris) */
  --color-text-inverted: var(--color-zinc-950);   /* Texto sobre fondo naranja */

  /* Semantic */
  --color-danger: var(--color-red-500);
  --color-success: var(--color-green-500);
}